<ion-header>
  <ion-toolbar>
    <ion-title><b>Tarifario</b></ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="cerrarP()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <br>
    <ion-label style="margin-left: 15px;"><b> Placa: </b></ion-label>
    <ion-item>

      <ion-label>{{placa}}</ion-label>
    </ion-item>
    <br>

    <ion-label style="margin-left: 15px;"><b>Marca: </b></ion-label>
    <ion-item>
      <p><b>{{marca}}</b></p>
    </ion-item>
    <br>

    <ion-label style="margin-left: 15px;"><b>Modelo:</b> </ion-label>
    <ion-item>

      <ion-label><b>{{modelo}} </b> </ion-label>
    </ion-item>

    <ion-label style="margin-left: 15px;"><b>Color:</b> </ion-label>
    <ion-item>

      <ion-label><b>{{color}} </b> </ion-label>
    </ion-item>

    <ion-label style="margin-left: 15px;"><b>Año:</b> </ion-label>
    <ion-item>

      <ion-label><b>{{ano}} </b> </ion-label>
    </ion-item>



  </ion-card>
</ion-content>